// Alignment helpers
.u-text-center {
    text-align: center;
}

// Style helpers
.u-capitalize {
    text-transform: capitalize;
}

// Weight helpers
.u-bold {
    font-family: $font-family-content-bold;
}
