.u-absolute {
    position: absolute;
}
.u-relative {
    position: relative;
}

.u-hide {
    display: none;
    @each $_breakpoint, $_screensize in $mq-breakpoints {
        &-from {
            &-#{$_breakpoint} {
                @include mq($from: $_breakpoint) {
                    display: none !important;
                }
            }
        }
        &-until {
            &-#{$_breakpoint} {
                @include mq($until: $_breakpoint) {
                    display: none !important;
                }
            }
        }
    }
}

.u-h-center {
    @include h-center();
}
