// Style helpers
.u-capitalize {
    text-transform: capitalize;
}

// Weight helpers
.u-bold {
    font-weight: 700;
}

.u-title {
    font-family: $font-family-title;
}

.u-content {
    font-family: $font-family-content;
}

// Alignment helpers
.u-text {
    &--center {
        text-align: center;
    }

    @each $_sizing, $_text-map in $global-text-map {
        $_responsive-map: map-get($_text-map, 'responsive');

        &--#{$_sizing} {
            @include text-styles($_text-map);
            @if $_responsive-map {
                &.u-text--responsive {
                    @each $_breakpoint, $_responsive-text-map in $_responsive-map {
                        @include mq($_breakpoint) {
                            @include text-styles($_responsive-text-map);
                        }
                    }
                }
            }
        }
    }
}
