@font-face {
    font-family: 'Colfax-Regular';
    src: url('../fonts/Colfax-Regular.eot');
    src: url('../fonts/Colfax-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Colfax-Regular.otf') format('opentype'),
         url('../fonts/Colfax-Regular.woff') format('woff'),
         url('../fonts/Colfax-Regular.ttf') format('truetype'),
         url('../fonts/Colfax-Regular.svg#Colfax-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
