.DS_Store
.env
/.idea
/.vagrant
/node_modules
/public/css
/public/hot
/public/img
/public/js
/public/mix-manifest.json
/public/storage
/resources/assets/sass/settings/_settings.config.scss
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.dusk.xml
yarn-error.log
