///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-spacing-huge: 70px;
$global-spacing-large: 40px;
$global-spacing-medium: 30px;
$global-spacing-base: 20px;
$global-spacing-small: 10px;
$global-spacing-tiny: 5px;

$inuit-global-font-size: 16px;
$inuit-global-line-height: 21px;

$global-wrapper-width-tiny: 800px;
$global-wrapper-width-small: 1100px;
$global-wrapper-width: 1200px;
$global-wrapper-width-large: 1380px;

// Responsivity
$mq-responsive: true;
$mq-breakpoints: (
    tinyPalm:         22em,  // 352px
    smallPalm:        33.125em,  // 530px
    palm:             42em,  // 667px (iPhone 6)
    smallDevice:      46em,  // 736px (iPhone 6 Plus)
    device:           53em,  // 848px
    desk:             64em,  // 1024px (iPad)
    largeDesk:        75em,  // 1200px
    widthDesk:        85em,  // 1360px
    wide1920:         120em, // 1920px
);

$mq-show-breakpoints: ();
// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
@if (inuit-config(env) == dev) {
    $mq-show-breakpoints: (tinyPalm, smallPalm, palm, smallDevice, device, desk, largeDesk, widthDesk, wide1920);
}

// --- Layering ---
$global-z-index: (
    aboveAll             : 100,
    modal                : 65,
    overlay              : 60,
    error                : 50,

    componentsForeground : 40,
    navbar               : 30,
    componentsBackground : 10,

    foreground           : 5,
    base                 : 1,
    background           : -1,
    deepBackground       : -10,
);

