/**
 * Monotone
 */
$color-white: #fff;
$color-grey-dark: #191919;
$color-black: #000;

/**
 * Base Palette
 */
$color-green: #01e3bd;
$color-red: #ff605c;

/**
 * Theme Colours
 */

// Theme Base
$color-primary: $color-green;

// Theme Text
$color-text-light: $color-white;
$color-text-dark: $color-black;

// Theme Result
$color-success: $color-green;
$color-error: $color-red;


// --- COLORS MAP ---
// ONLY for Monotone + Theme colours, to make changing in future easier!!
$map-core-colors: (
    "primary": $color-primary,
    "text-light": $color-text-light,
    "text-dark": $color-text-dark,
    "success": $color-success,
    "error": $color-error,

    "white": $color-white,
    "grey-dark": $color-grey-dark,
    "black": $color-black
);
